  <div class="lianHeader" id="fixed-title">
    <div class="wrapper">
      <dl>
        <dd>
          <ol>
            <li @@if (name === 'index') {class="current"}>
              <a href="/" >首页</a>
            </li>
            <li @@if (name === 'product') {class="current"}>
              <a href="/pages/product/sp.html" >
                产品
              </a>         
            </li>
            <li @@if (name === 'dev') {class="current"}>
              <a href="/pages/product/wifi.html" >
                开发者
              </a>
              <div class="subMenu"><div>
                <p class="sub03">
                  <a href="/pages/product/wifi.html">WiFi变现</a>
                  <!-- <a href="/pages/dev/main.html#SDK" title="">共享平台</a> -->
                  <!-- <a href="/pages/dev/main.html#firmware" title="">大数据分析</a>                 -->
                  <a href="/pages/dev/main.html" title="">共享平台</a>
                  <a href="/pages/product/internet.html" title="">大数据分析</a>                
                </p>
              </div></div>
              
            </li>
            <li @@if (name === 'master') {class="current"}>
              <a href="/pages/master/getbrand.html" >
                广告主
              </a>
              <div class="subMenu"><div>
                <p class="sub02">
                  <a href="/pages/master/getbrand.html">品牌营销</a>
                  <a href="/pages/master/getdata.html" title="">数据获取</a>                
                  <a href="/pages/master/getuser.html" title="">用户挖掘</a>
                </p>
              </div></div>             
            </li>
            <li @@if (name === 'about') {class="current"}>
              <a href="/pages/about/us.html" >
                公司
              </a>
              <div class="subMenu"><div>
                <p>
                  <a href="/pages/about/us.html">关于我们</a>
                  <a href="/pages/about/job.html" title="">职业发展</a>
                  <a href="/pages/about/contact.html" title="">联系我们</a>                
                </p>
              </div></div>              
            </li>
            <li>
              <a href="https://sp.bhuwifi.com" target="_blank">
                <span>登录投放管理后台</span>
              </a>           
            </li>
          </ol>
          
        </dd>
        <dt>
          <a href="/"><h1><img src="../../images/public/lianlian.png" alt="芝士互娱"></h1></a>
        </dt>
      </dl>   

    </div>
  </div>

  

